﻿@model IEnumerable<TestIdentity.Models.ApplicationUser>
@{
    ViewBag.Title = "Home Page";
}
<br />

<h4>Home Page</h4>
<hr />
@Html.ValidationSummary(false)
@Html.AntiForgeryToken()
<br />
<div class="form-group">
    <strong class="col-md-2 control-label">Users</strong>
    <div class="col-md-10">
        @Html.DropDownList("Test", null, "Select User Name", new {@class = "form-control"})

    </div>
</div>
<br />



@*@Html.DropDownList("Test", "Select a User Name")*@
@*@Html.DropDownList("Roles", "Select a role")*@

@*@foreach (var item in Model)
    {


        <li>@item.UserName</li>
    }*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}