﻿
@{
    ViewBag.Title = "ConfirmEmail";
}
<br />

<h4>ConfirmEmail</h4>

<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
