﻿@model TestIdentity.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<br/>
<h4>Login</h4>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <p>
            <label>Name</label><br />
            @Html.EditorFor(x => x.Name)
        </p>
        <p>
            <label>Password</label><br />
            @Html.EditorFor(x => x.Password)
            @Html.ValidationSummary(false)
        </p>
        <p><button type="submit">Submit</button></p>
    </div>
}*@
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <hr/>
    @Html.ValidationSummary(false)
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Login"/>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
